.filter-background{z-index: 99;}
.filter-window{z-index: 100;}

.filter {
	padding: 10px 0 0;
	display: flex;
	flex-wrap: wrap;
}

.filter-background {
	position: fixed;
	top: 70px;
	left: 0;
	width: 100%;
	height: calc(100vh - 70px);
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.filter-window {
	position: fixed;
	top: 70px;
	left: 0;
	width: 30%;
	min-width: 400px;
	height: calc(100vh - 70px);
	padding: 20px;
	background-color: #ffffff;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	overflow-y: auto;
	user-select: none;
}

.filter-window::-webkit-scrollbar {
	display: none;
}

.filter-box {
	width: 100%;
	height: fit-content;
	margin: 5px 0;
	background: #ffffff;
	border-bottom: 1px solid #eaeaea;
	display: flex;
	flex-direction: column;
	user-select: none;
}

.main-filter-header {
	width: 100%;
	margin: 0 0 10px;
	font-size: 22px;
	color: #3e3e3e;
	display: flex;
	justify-content: center;
}

.filter-header {
	height: 30px;
	border-radius: 15px;
	line-height: 30px;
	font-size: 17px;
	color: #3e3e3e;
	display: flex;
	justify-content: center;
	text-align: center;
}

.filter-body {
	margin: 0 10px 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.filter-element img {
	width: 20px;
	margin: 0 5px;
}

.half-width {
	width: 48%;
}

.half-width .filter-body {
	margin: 2px 0 15px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.half-width .filter-body .filter-element {
	width: 80%;
	margin: 2px auto;
}

.scrollable .filter-body {
	max-height: 102px;
	overflow: auto;
	flex-direction: unset;
}

.sort-direction {
	width: 100%;
	display: flex;
	justify-content: center;
}

.icon-selected img {
	filter: invert(100%);
}

.invert img {
	filter: invert(40%);
}

.margin-top {
	margin: 10px 0;
}

.margin-right {
	margin-right: auto;
}

.arrow {
	width: 20px;
	height: 20px;
	margin: auto 0 auto 5px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	transition: all 0.3s;
}

.arrow img {
	width: 55%;
}

.filter-location-expanded, .filter-location-non-expanded {
    display: flex;
    justify-content: center;
	align-items: center;
}

.filter-location-expanded .filter-element, .filter-location-non-expanded .filter-element {
	width: 80%;
}

.filter-location-expanded div {
	margin: 5px 0 0 0;
}

.filter-location-non-expanded div {
	margin: 5px 0 10px 0;
}