.header {z-index: 300000;}
.account-background{z-index: 99;}
.account-window{z-index: 100;}

.header {
	width: 100%;
	height: 70px;
	display: flex;	
	user-select: none;
}

.logo-place {
	width: max-content;
	margin: auto;
	padding: 0 10px;
	font-family: 'Staatliches';
	font-size: 50px;
	letter-spacing: 2px;
	color: #ffffff;
	cursor: default;
}

.icons {
	position: absolute;
	right: 0;
	width: auto;
	height: 50px;
	margin: 10px 20px;
}

.menu-icon, .account-icon {
	width: 32px;
	height: 32px;
	margin: 9px;
	cursor: pointer;
	transition: all 0.3s linear;
}

.account-icon:hover {
	transform: scale(1.2);
}

.menu-icon:hover {
	transform: rotate(90deg);
}

.account-background {
	position: fixed;
	top: 70px;
	left: 0;
	height: calc(100% - 70px);
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.account-window {
	position: fixed;
	top: 70px;
	right: 0;
	width: 300px;
	height: calc(100% - 70px);
	padding: 20px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.account-window::-webkit-scrollbar {
	display: none;
}