.account-bar {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-row {
    max-width: 100%;
    margin: 1px 0;
    text-align: center;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
}

.account-scope {
    width: 70%;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-scope-header {
    width: 100%;
    margin: 0 0 5px 0;
    color: #3e3e3e;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.fav-button-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swipe {
    color: #8e8e8e;
    user-select: none;
    cursor: pointer;
    margin: 2px 5px;
    padding: 0 8px;
    border-radius: 2px;
}

.active-underline {
    border-bottom: 2px solid #791740;
}

.account-row.flex-wrap {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}

.reservation-date {
    width: 100%;
    color: #8e8e8e;
    text-align: left;
    font-size: 14px;
}

.reservation-place {
    color: #791740;
    cursor: pointer;
    text-align: left;
}

.reservation-table {
    color: #3e3e3e;
}

.reservation-guests {
    width: 100%;
    text-align: left;
    color: #8e8e8e;
}

.reservation-list-element {
    display: flex;
    border-bottom: 1px solid #eaeaea;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 0 0;
    padding: 0 0 3px 0;
}

.reservation-delete {
    width: 20px;
	height: 20px;
	cursor: pointer;
	transition: all 0.25s;
	user-select: none;
}

.reservation-delete img {
	width: 100%;
}

.reservation-delete:hover {
	transform: rotate(90deg);
}

.reservation-delete-background {
    z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #3e3e3ea0;
}

.reservation-delete-window {
    z-index: 1000;
	position: fixed;
	top: calc(50% - 125px);
	left: calc(50% - 210px);
	width: 420px;
	height: 250px;
	padding: 30px 50px;
	border-radius: 12px;
	background-color: #ffffff;
}

.button.cancel-button:hover {
    background-color: #721111;
    border-color: #721111;
    color: #ffffff;
}

.delete-info {
    margin: 55px 0 0 0;
    text-align: center;
    color: #3e3e3e;
}

.reservations-margin-top {
    margin: 15px 0 0 0;
}