.account-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-row {
    max-width: 100%;
    text-align: center;
    word-wrap: break-word;
}

.account-scope {
    width: 70%;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-scope-header {
    margin: 0 0 5px 0;
    color: #8e8e8e;
}

.fav-button-panel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}