.account-bar {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-row {
    max-width: 100%;
    text-align: center;
    word-wrap: break-word;
}

.account-scope {
    width: 70%;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-scope-header {
    width: 100%;
    margin: 0 0 5px 0;
    color: #3e3e3e;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.fav-button-panel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}