.auth {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container {
    width: 300px;
    align-self: center;
}

.signup-container {
    width: 460px;
    align-self: center;
}

.auth-title {
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #3e3e3e;
    font-family: 'Staatliches';
    font-size: 44px;
    color: #3e3e3e;
    letter-spacing: 1px;
    text-align: center;
    user-select: none;
}

.login-element {
    width: 70%;
    margin: 20px auto;
    font-size: 18px;
}

.form-element-title {
    margin: 5px 10px;
    color: #8e8e8e;
}

.form-buttons {
    width: 100%;
    margin: 40px 0 0;
    display: flex;
    justify-content: center;
}

.form-row {
    margin: 20px 40px 0;
    display: flex;
}

.form-row div:nth-child(2) {
    margin: 0 0 0 20px;
}

.signup-element {
    font-size: 18px;
}

.full-width {
    width: 100%;
}

.input-text {
    width: 100%;
    height: 30px;
    padding: 0 15px;
    border-radius: 15px;
    border: 1px solid #eaeaea;
    color: #3e3e3e;
    font-size: 16px;
    outline: none;
}

.input-text:focus, .input-text:hover {
    background-color: #eaeaea;
}

.invalid {
    border: 1px solid #ffe6f4;
    background-color: #ffe6f4;
}

.invalid:hover,
.invalid:focus {
    border: 1px solid #fdeff7;
    background-color: #fdeff7;    
}

.inactive {
    background-color: #eaeaea;
    color: #ccc;
    cursor: default;
}

.auth-error {
    z-index: 1100;
    width: max-content;
    margin: 30px auto;
    padding: 10px 30px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #ED6E2D;
    color: #ED6E2D;
}

.auth-logo {
    width: 100%;
    margin: 0 0 5px;
    font-family: 'Staatliches';
    font-size: 22px;
    color: #791740;
    letter-spacing: 1px;
    text-align: center;
    user-select: none;
}

.confirmation {
    margin: 20px 0;
    color: #8e8e8e;
    text-align: center;
}

.center-align {
    margin: 30px auto;
}