.main {
    position: absolute;
    top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
	display: flex;
	flex-direction: column;
    overflow: auto;
}

.place-photos {
    width: 90%;
    height: 63vh;
    margin: auto;
    padding: 1px;
    display: flex;
}

.place-photo-container-0 {
    width: 39%;
    padding: 0 1px;
}

.place-photo-container-1 {
    width: 17%;
    display: flex;
    flex-direction: column;
}

.place-photo-container-2 {
    width: 14%;
    padding: 0 0 0 1px;
}

.place-photo-container-3 {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.place-photo-container-4 {
    height: 70%;
    padding: 0 0 1px;
}

.place-photo-container-5 {
    height: 30%;
    display: flex;
}

.place-photo-container-0 div,
.place-photo-container-2 div,
.place-photo-container-4 div,
.place-photo-container-5 div {
    height: 100%;
}

.place-photo-container-1 div:nth-child(1) {
    height: 50%;
    padding: 0 0 1px 0;
}

.place-photo-container-1 div:nth-child(2) {
    height: 50%;
}

.place-photo-container-5 div:nth-child(1) {
    padding: 0 1px 0 0;
}

.place-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    user-select: none;
}

.place-photo:hover {
    opacity: 0.94;
}

.place-window {
    width: 90%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.place-title {
    width: 100%;
	font-family: 'Staatliches';
	font-size: 40px;
    color: #3e3e3e;
    display: flex;
    justify-content: center;
	text-align: center;
}

.place-description-container {
    width: 60%;
    min-width: 450px;
    padding: 30px 50px 0;
    order: 2;
}

.favorite {
    font-size: 36px;
    transform: rotate(90deg);
    cursor: pointer;
}

.place-description {
    width: 100%;
    height: 132px;
    color: #3e3e3e;
    overflow: hidden;
}

.expanded {
    width: 100%;
    height: auto;
}

.expand-arrow {
    width: 100%;
    height: 25px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.expand-arrow img {
    width: 14px;
}

.icon-link {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.icon-link:hover {
    background-color: #eaeaea;
}

.icon-link a {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.website-icon {
    width: 28px;
    display: block;
}

.instagram-icon {
    width: 28px;
    display: block;
}

.phone-icon {
    width: 20px;
    margin: 0 7px 0 0;
    display: block;
}

.place-categories {
    width: 100%;
    margin: 5px 5px;
    font-size: 17px;
    color: #8e8e8e;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.place-cuisines {
    width: 100%;
    margin: 0 5px 5px;
    color: #8e8e8e;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.place-dashboard {
    width: 100%;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.place-category,
.place-cuisine {
    display: flex;
}

.place-row {
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.place-general-review {
    width: 40%;
    min-width: 360px;
    padding: 30px;
    align-self: flex-start;
    user-select: none;
}

.place-general-review-overal-rounded {
    margin: 0 10px 0 0;
    font-size: 18px;
    font-weight: bold;
    color: #ED6E2D;
}

.place-general-review-overall-amount {
    margin: 0 0 0 10px;
    color: #3e3e3e;
}

.place-general-review-column {
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.place-general-review-column-body {
    font-size: 16px;
    color: #ED6E2D;
}

.place-general-review-chart {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.place-general-review-chart-line {
    display: flex;
    align-items: center;
}

.place-general-review-chart-line-label {
    margin: 0 10px 0 0;
    color: #3e3e3e;
}

.place-general-review-chart-line-value {
    width: 100%;
    height: 14px;
}

.place-general-review-chart-line-progress {
    height: 100%;
    background-color: #ED6E2D;
}

.place-header {
    margin: 0 0 10px;
    border-bottom: 1px solid #3e3e3e;
    font-size: 17px;
    color: #3e3e3e;
}

.place-general-review-column .place-header {
    margin: 0;
}

.place-body {
    color: #8e8e8e;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.place-additional {
    width: 100%;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
}

.place-operation-hours {
    width: 100%;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
}

.place-operation-hours-row {
    height: 24px;
    display: flex;
}

.place-weekday {
    width: 10%;
    margin: 0 10px 0 0;
}

.place-address {
    width: 100%;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
}

.place-map {
    width: 100%;
    height: 200px;
    margin: 10px 0 0 0;
    border: 1px solid #eaeaea;
    align-self: center;
}

.review {
    font-size: 16px;
}

.review-avatar {
    width: 20px;
    height: 20px;
}



@media screen and (max-width: 650px) {

    .place-photos {
        margin: auto;
        flex-direction: column;
    }

    .place-photo-container-0 {
        width: 90%;
        height: 40%;
        margin: 0 auto;
        padding: 0 0;
    }
    
    .place-photo-container-1 {
        width: 90%;
        height: 20%;
        margin: 0 auto;
        flex-direction: row;
    }
    
    .place-photo-container-2 {
        width: 90%;
        height: 15%;
        margin: 0 auto;
        padding: 1px 0 1px 0;
    }
    
    .place-photo-container-3 {
        width: 90%;
        height: 25%;
        margin: 0 auto;
        flex-direction: row;
        padding: 1px 0 0 0;
    }
    
    .place-photo-container-4 {
        width: 50%;
        height: 100%;
        padding: 0 1px 0 0;
    }
    
    .place-photo-container-5 {
        width: 50%;
        height: 100%;
    }
        
    .place-photo-container-1 div:nth-child(1) {
        width: 40%;
        height: 100%;
        padding: 0 1px 0 0;
    }
    
    .place-photo-container-1 div:nth-child(2) {
        width: 60%;
        height: 100%;
    }
    
    .place-photo-container-5 div:nth-child(1) {
        padding: 0 1px 0 0;
    }
}
