.reservation-container {
	width: 440px;
	align-self: center;
}

.rrow {
	margin: 4px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.rrrow {
	margin: 3px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.reservation-element {
	font-size: 18px;
	margin: 2px 0;
}

#guests { 
	width: 100%;
	margin: 0 0 0 0;
}

.el30 {
	width: 27%;
}

.el70 {
	width: 65%;
}

.el50 {
	width: 48%;
}

.success-back {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #3e3e3ea0;
}

.success {
	position: absolute;
	top: calc(50vh - 60px);
	left: calc(50vw - 160px);
	border-radius: 30px;
	width: 320px;
	height: 120px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.success-text {
	text-align: center;
	color: #3e3e3e;
	font-size: 20px;
	margin: 10px auto;
}

.place-info {
	margin: 0 0 10px;
	padding: 3px 0;
	border-bottom: #3e3e3e 1px solid;
}

.title {
	font-size: 20px;
	color: #3e3e3e;
}

.category {
	font-size: 18px;
	color: #8e8e8e;
}

.address {
	color: #8e8e8e;
}

.phone {
	color: #3e3e3e;
}

input[type="datetime-local"] {
	width: 100%;
	border: 1px solid #eaeaea;
}

.full-width {
	width: 100%;
}

.hours-tip {
	position: relative;
	margin: 5px 0 0 15px;
	font-size: 12px;
	color: #8e8e8e;
}